body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #2E2252;
    color: white;

}

h1 {
    text-align: center;
}

.flex-container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

.calculator {
    width: 320px;
    height: 520px;
    background-color: #e60000;
    margin: auto;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    padding-top: 1rem;

}

input {
    height: 60px;
    width: 270px;
    text-align: right;
    margin: 20px 20px 15px 20px;
    padding-top: 20px;
    font-size: 35px;
    color: black;
    border-radius: 5px;
    box-shadow: inset -2px -2px 8px #fff,
                inset 2px 2px 8px rgba(0,0,0)

}

.command, .operator, .digit, .decimal {
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
    box-shadow: inset -2px -2px 8px #fff,
                inset 2px 2px 8px rgba(0,0,0);
}

.equals {
    width: 130px;
    height: 60px;
    margin: 10px;
    float: left;
    border-radius: 42px;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
    box-shadow: inset -2px -2px 8px #fff,
    inset 2px 2px 8px rgba(0,0,0)
}

.operator, .equals, .decimal {
    background: #ffef5c;
}

.digit {
    background: #52d7d9;
}

.command {
    background: #a6fa8c;
}

.operator:active, .digit:active, .decimal:active, .command:active, .equals:active  {
    font-size: 20px;
    transform: scale(0.95);
    box-shadow: inset -2px -2px 8px #fff,
                inset 2px 2px 8px rgba(0,0,0)
}

.operator:focus, .digit:focus, .decimal:focus, .command:focus, .equals:focus {
    outline: 0;
}

.operator:hover, .digit:hover, .decimal:hover, .command:hover, .equals:hover {
    font-size: 20px;
    transform: scale(0.95);
    box-shadow: inset -2px -2px 8px #fff,
                inset 2px 2px 8px rgba(0,0,0)
}